:root {
    --bg-color: aquamarine;
    --sans-one: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --mono-one: "Inconsolata", monospace;
    --font-main: 1rem/1.5 var(--sans-one);
    --stroke-style: blue;
    --div-one-color: red;
    --div-two-color: green;
}

body {

    /* counter-reset: counter-one; */
    /* counter-reset: counter-two; */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: var(--font-main);
}

header {
    grid-column: span 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    margin-bottom: 5px;
}

header>span:first-of-type {
    font: 700 small-caps 1.2rem/1.2em var(--sans-one);
}

header>span:nth-of-type(2) {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header>span:nth-of-type(2) * {
    font-size: 0.9rem;
    font-family: var(--sans-one);
}

header>span:nth-of-type(2) label {
    margin-right: 1vw;
}

div.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto auto auto auto auto auto auto;
    width: 100vw;
    min-height: 50vh;
    border: 2px solid #eee;
    margin: 2px 10px;
}

main {
    grid-column: span 10;
    font: var(--font-main);
}

main ul {
    list-style-type: none;
}

nav {
    grid-column: span 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#open_all,
#close_all,
#close_all_two,
#open_all_two {
    font-size: 0.8rem;
    font-family: var(--sans-one);
}

.item-one>#open_all>.triangle_icon,
.item-three>#close_all>.triangle_icon,
.item-one>#close_all_two>.triangle_icon,
.item-three>#open_all_two>.triangle_icon {
    opacity: 0;
    display: inline;
    color: tomato;
    font-size: 0.9em;
    transition: opacity 0.5s ease-in;
}

.item-one>#open_all:hover>.triangle_icon,
.item-three>#close_all:hover>.triangle_icon,
.item-one>#close_all_two:hover>.triangle_icon,
.item-three>#open_all_two:hover>.triangle_icon {
    opacity: 1;
    color: tomato;
}

.item-one>#close_all_two {
    display: none;
}

.item-three>#open_all_two {
    display: none;
}

div.syntax {
    grid-column: span 10;
}

div.examples {
    grid-column: span 10;
}

code,
pre {
    font-family: var(--mono-one);
    font-size: 0.95rem;
    color: maroon;
}

div.notes {
    grid-column: span 10;
}

footer {
    grid-column: span 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>span {
    font-family: var(--mono-one);
    font-size: 0.8rem;
    color: maroon;
}

details {
    margin-left: 10px;
}

details>summary {
    font-size: 0.9rem;
}

q {
    font: 0.9rem var(--sans-one);
}

details>p {
    padding: 2px 5px 2px 10px;
    font-size: 1rem;
    margin-left: 4vw;
    /* font:var(--sans-one); */
}

details p {
    font-size: 1rem;
    font-family: -sans-one;
    color: black;
}

em {
    font-size: inherit;
    font-style: italic;
}

details>ol {
    padding: 2px 5px 2px 10px;
    list-style-position: outside;
}

details>ol>li {
    padding-left: 10px;
    font-size: 1rem;
}

details>ol {
    margin-left: 4vw;
}

code span.highlight {
    font-family: var(--mono-one);
    display: inline-block;
    padding: 2px;
    font-size: 1rem;
    background-color: orange;
}

button {
    background-color: white;
    padding: 0 1rem;
    border: none;
}

button:hover {
    color: tomato;
}

.counter {
    font-size: 1rem;
    color: maroon;
}

.bold {
    font-weight: bold;
}

dt {
    font-size: 0.9rem;
    font-style: italic;
}

dd {
    padding-left: 2vw;
    font-size: 0.9rem;
}

.attr_as_content::after {
    content: attr(href);
}


.table-one,
.table-two {
    table-layout: fixed;
    margin: auto;
}

.table-one caption,
.table-two caption {
    font-size: 0.8rem;
}

.table-one .class-a {
    background-color: aqua;
    font-size: 0.8rem;
}

.table-one .class-b {
    background-color: var(--bg-color);
}

.table-one thead tr th {
    background-color: yellow;
    text-align: center;
    vertical-align: middle;
    /* font-size: 0.8rem; */
}

.table-one th,
.table-one td {
    font-size: 0.8rem;
}

.table-one tfoot {
    background-color: red;
    text-align: center;
}

.table-one tbody td[colspan="2"] {
    background-color: lime;
    text-align: center;
    vertical-align: middle;
}

.table-one tbody td[rowspan="2"] {
    background-color: olive;
    vertical-align: middle;
}

.table-two .aa {
    background: gray;
    font-size: .8rem;
}

video {
    width: 100%;
    height: auto;
}

.video-container {
    width: 60vw;
    max-width: 500px;
    margin: auto;
}

::cue {
    color: white;
    background-color: blue;
    font-size: 1rem;
}

a {
    font-size: 0.9rem;
    text-decoration: none;
}

canvas {
    margin: auto;
    display: block;
    border: 2px solid aquamarine;
}

embed.rme-svg {
    width: 550px;
    height: 150px;
    margin: auto;
    display: block;
}

form {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    /* font-size: 0.9rem; */
}

fieldset {
    font-size: 0.9rem;
}

fieldset label {
    display: inline-block;
    width: 10vw;
    font-size: 0.9rem;
    margin-left: 1vw;
}

fieldset legend {
    font-size: 0.9rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1vw;
}

input[type="submit"] {
    background-color: #eee;
    margin: 0 0.5rem 0.25rem 0;
    padding: 0.25rem;
    border: none;
    float: right;
}

input[type="text"],
input[type="email"] {
    font-size: 0.9rem;
    font-family: var(--sans-one);
}

output {
    font-size: 0.9rem;
    font-family: var(--sans-one);
}

fieldset.output {

    padding: 0 0 2vh 2vw;
    min-height: 10vh;
}

.msg_name {
    font-size: 0.8rem;
}


.radio-message,
.checkbox-message,
.select-message {
    font-size: 0.9rem;
    padding: 1vw 0 0 1vw;
    /* color:red; */
    font-family: var(--sans-one);
}

.radio-lst {
    float: left;
}

fieldset .radio-lst label,
fieldset .checkbox-group label {
    display: inline-block;
    min-width: 1vw;
    text-align: right;
    padding-right: 2px;
    font-size: 0.9rem;
}

select {
    margin-left: 2vw;
    font-size: 0.9rem;
}

select option {
    /* background:red; */
    font-size: 0.7rem;
}

select>optgroup {
    font-size: 0.9rem;
}

textarea {
    display: block;
    margin: 5vh auto 0 auto;
    width: 70%;
    /* font-size: 0.8rem; */
    /* padding-left: 2vw; */
    /* background:red; */
}

textarea:invalid {
    border: 5px solid red;
}

textarea:valid {
    border: 2px solid yellow;
}

div.grandchildren-selector {
    width: 50vw;
    background-color: #eee;
    padding-bottom: 1vw;
}

div.grandchildren-selector ul * li {
    background-color: var(--bg-color);
}

/* div.grandchildren-selector ul>li+ul>li {
    background-color:blue;
} */

div.grandchildren-selector li {
    width: 100px;
}

div.grandchildren-selector ul {
    padding-left: 5vw;
    padding-top: 1vh;
}

.number-one {
    counter-reset: counter-one counter-two;
}

.number-two {
    counter-reset: counter-two;
}

.number-one dt::before {
    counter-increment: counter-one;
    content: "("counter(counter-one, decimal) ")\2003";
    font-style: normal;
}

.number-one dd::before {
    counter-increment: counter-two;
    content: "("counter(counter-two, lower-alpha) ")\2003";
    font-style: normal;
}

dd.number-none::before {
    content: "\2003";
    font-style: normal;
}

.bg-olive {
    background: olive;
}

.bg-orange {
    background: orange;
}

.bg-aquamarine {
    background: aquamarine;
}

.stky {
    position: sticky;
    top: 0;
    padding: 0 2vw 1vh;
}

#stky-container {
    height: 20vh;
    overflow-y: scroll;
    width: 50%;
    margin: 5vh auto;
}

.relative {
    position: relative;
    top: 3vw;
    left: 5vw;
}

.absolute {
    position: absolute;
    top: 2vw;
    left: 5vw;
}


div.rel-container,
div.absolute-container {
    margin: 5px auto;
    width: 60%;
    /* text-align: center; */
}

div.absolute-container {
    border: 2px solid orange;
    position: relative;
}

div.rel-container {
    border: 2px solid orange;
}

div.rel-container #div-one,
div.rel-container #div-two,
div.rel-container #div-three,
div.absolute-container #div-four,
div.absolute-container #div-five,
div.absolute-container #div-six,
div.absolute-container #div-x {
    width: 8vw;
    line-height: 8vw;
    display: inline-block;
    text-align: center;
    margin: 1vw;
    font-size: 1.8vw;
}

#div-one,
#div-four {
    background: red;
    text-decoration: underline dotted;
}

#div-two,
#div-five {
    background: lime;
    text-decoration: underline dotted;
}

#div-three,
#div-six {
    background: blue;
    color: white;
    text-decoration: underline dotted;
}

#div-x {
    visibility: hidden;
}

.indent {
    text-indent: 2vw;
}


table#convert_0Aa {
    border: 1px solid navy;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 1rem auto 0 auto;

}


table#convert_0Aa {
    border: 1px solid navy;
    border-collapse: collapse;
    table-layout: fixed;
    margin: 1rem auto 0 auto;

}

table#convert_0Aa caption {
    caption-side: bottom;
    font-size: 0.9rem;
    margin-top: 0.3rem;
}

table#convert_0Aa td,
table#convert_0Aa th {
    text-align: left;
    border: 1px solid black;
    padding: 0.3rem;
}


table#convert_0Aa th {
    font-size: 0.9rem;
    text-align: center;
    vertical-align: middle;
}

table#convert_0Aa col:nth-child(even) {
    background-color: lightgoldenrodyellow;
}

table#convert_0Aa th {
    background-color: white;
}

table#convert_0Aa td:first-of-type {
    width: 15%;
    text-align: center;
}

table#convert_0Aa td:nth-child(2) {
    width: 12%;
}

#char_ref_syntax_table,
#char_ref_example_table {
    border: 1px solid;
    text-align: center;
    table-layout: fixed;
    border-collapse: collapse;
    margin: auto;
    caption-side: bottom;
}

#char_ref_syntax_table th,
#char_ref_syntax_table td,
#char_ref_example_table th,
#char_ref_example_table td {
    border: 1px solid;
    padding: 0 0.3em;
}

#char_ref_syntax_table caption,
#char_ref_example_table caption {
    margin-top: 0.5em;
    font-size: 0.9rem;
    color: black;
    /* border: dashed; */
}

#char_ref_syntax_table th,
#char_ref_example_table th {
    background-color: white;
    font-size: 0.9rem;
}

#char_ref_syntax_table col:nth-child(even) {
    background-color: lightgoldenrodyellow;
}

#char_ref_example_table col:first-of-type {
    width: 15%;

}

#char_ref_example_table col:nth-child(even) {
    background-color: lightgoldenrodyellow;
}

tr:hover {
    background-color: lightgray;
}

blockquote {
    font-size: 0.8rem;
}

/* begin ere  */

/* end hee  */
/* div.wrapper_margin-collapse {
    background: lightslategray;
    margin: auto;
    width: 30%;
} */

/* div.d1,
div.d3 {
    background-color: lightgoldenrodyellow;
    text-align: center;
}

div.empty {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 10px 0 10px;
} */

div#checkbox-example {
    cd margin: 0 auto;
}

#checkbox-example input[type=checkbox]+label {
    padding: 1px 5px;
    border-radius: 10%;
}

#checkbox-example input[type=checkbox]:checked+label {
    background-color: blueviolet;
    color: white;
}


.auto-center {
    margin: 0 auto;
    width: 80%;
}

#exam_ecollege_text_decoration_one {
    text-decoration: overline red wavy;
}

#exam_ecollege_text_decoration_two {
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: navy;
}

div.inheritance_example_container {
    margin: auto;
    width: 80%;
    color: green;
}

.my-class-1 a {
    color: inherit;
}

.my-class-2 a {
    color: initial;
}

.my-class-3 a {
    color: unset;
}

#inheritance_added_css_class {
    visibility: hidden;

}

#inheritance_example_btn {
    background: lightgray;
    font-size: 0.8rem;
}

figure#triangles_css_weil {
    margin: 0 auto;
    width: 70%;
    padding: 2px;
}

figure#triangles_css_weil img {
    width: 70%;
    height: 70%;
    margin: auto;
    display: block;
}

figure#triangles_css_weil>figcaption {
    text-align: center;
    font-size: 0.8rem;
}


dd.triangle_container {
    width: 80%;
    margin: 0 auto;
}

dd.triangle_container>p {
    position: relative;
}

dd.triangle_container>p>span {
    background-color: lightgoldenrodyellow;
    padding: 2px;
}

dd.triangle_container>p:hover::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    bottom: 0;
    border: 20px solid transparent;
    border-bottom-color: red;
}

div.at_font_face_container {
    width: 80%;
    margin: 0 auto;
    font-family: 'apl';
    min-height: 2em;
    padding-top: 1em;
}


.visibility_values {
    counter-reset: visibility-values;
}

.visibility_values~dd>code.count::before {
    counter-increment: visibility-values;
    content: counter(visibility-values) "-";
}

div.visibility_container {
    position: relative;
    width: 50%;
    margin: 0 auto;
}

div.vis_one,
div.vis_two {
    line-height: 10vh;
    height: 10vh;
    width: 10vw;
    margin: auto;
    text-align: center;
    background-color: var(--div-one-color);
    float: left;
}

div.vis_two {
    background-color: var(--div-two-color);
}

.vis_btns_wrapper {
    clear: both;
}

#tog_vis,
#tog_display {
    border: 0;
    height: 8vh;
    margin-top: 1vh;
    background-color: lightgoldenrodyellow;
}

#tog_vis:hover,
#tog_display:hover {
    color: green;
    background-color: lightgray;
}

#tog_vis:active,
#tog_display:active {
    background-color: white;
    border: 1px solid lightgray;
}


#viewport_img_one,
#viewport_img_two {
    transition: all 2s;
}

#viewport_img_one:hover,
#viewport_img_two:hover {

    width: 100%;
    height: 100%;
}

table.viewport_expts {
    caption-side: bottom;
    margin-top: 1em;
    font-size: 0.8rem;
}

table.viewport_expts caption {
    margin-top: 1em;
}

table.viewport_expts,
table.viewport_expts td,
table.viewport_expts span,
table.viewport_expts th {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 0.8rem;
    font-family: 'Times New Roman', Times, serif;
}

table.viewport_expts span {
    border: none;
}


table.viewport_expts td,
table.viewport_expts th {
    text-align: center;
    vertical-align: middle;
}

.true_expt {
    background-color: lightgoldenrodyellow;

}

table td.false_expt,
table span.false_expt {
    background-color: lightblue;
}


div.container-economist {
    margin: auto;
    width: 80%;
}

div.container-economist h2 {
    margin-bottom: 1em;
}

p.economist {
    --my-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12pt;
    line-height: 1.2;
    font: 12pt/1.2 var(--my-font);
}

p.economist::first-letter {
    font-size: 300%;
    float: left;
    color: brown;
}

p.economist span {
    text-transform: uppercase;
}

dt.css-counter-refs {
    counter-reset: css-refs-counter;
}

dt.css-counter-refs~dd {
    counter-increment: css-refs-counter;
}

dt.css-counter-refs~dd p::before {
    content: '('counter(css-refs-counter) ') ';
}

div.estelle-weil-counter-container {
    counter-reset: invalid-count;
    margin: auto;
    width: 80%;
}

input[type="checkbox"]:checked+label {
    background-color: red;
}

input[type]:invalid {
    counter-increment: invalid-count;
}

p#icount::after {
    content: counter(invalid-count, decimal-leading-zero);
}

div.favteam-container {
    margin: 10px auto;
    width: 80%;
}

div.favteam-container input:default+label {
    background-color: lightgoldenrodyellow;
}

div.favteam-container fieldset {
    margin-bottom: 1rem;
}

div.container-specificity {
    margin: 1rem auto;
    width: 80%;
    counter-reset: table-counter;
}

.table-template-two {
    table-layout: fixed;
    margin: auto;
    margin-top: 1rem;
    border-collapse: collapse;
    caption-side: bottom;
}

.table-template-two caption {
    font-size: 1rem;
    background-color: lightcyan;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    counter-increment: table-counter;
}

.table-template-two caption span:before {
    content: '('counter(table-counter) ')';
}

.table-template-two .aa {
    background: lightgoldenrodyellow;
    font-size: .8rem;
}


.table-template-two tr:hover {
    background-color: #f5f5f5;
}

.table-template-two tfoot {
    margin-top: 4rem;
}

.table-template-two tfoot {
    border: 10px solid white;
}

.table-template-two tfoot tr {
    background-color: antiquewhite;
}

div.container-selector-def {
    margin: 1em auto;
    width: 80%;
}

div.container-selector-def ol,
div.container-selector-def ul {
    list-style-type: none;
    counter-reset: selector-def;
}

div.container-selector-def li {
    counter-increment: selector-def;
}

div.container-selector-def li::before {
    content: '('counter(selector-def, lower-alpha) ') ';
}

.table-template-two td[rowspan="3"],
.table-template-two td[rowspan="2"] {
    vertical-align: top;
}

div.container-flexbox {
    margin: 1rem auto;
    width: 80%;
    counter-reset: table-counter;
}

.table-template-three {
    table-layout: fixed;
    margin: auto;
    empty-cells: hide;
    margin-top: 1rem;
    border-collapse: collapse;
    caption-side: bottom;
}

.table-template-three td {
    border: 1px solid lightblue;
    padding: 0.2em 1em 0.2em 1em;
}

.table-template-three caption {
    font-size: 1rem;
    background-color: lightcyan;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    counter-increment: table-counter;
}

.table-template-three caption span:before {
    content: '('counter(table-counter) ')';
}


.table-template-three tr:hover {
    background-color: #f5f5f5;
}

.table-template-three tfoot {
    margin-top: 4rem;
}

.table-template-three tfoot {
    border: 10px solid white;
}

.table-template-three tfoot tr {
    background-color: antiquewhite;
}

.table-template-three td[rowspan="9"] {
    vertical-align: top;
}

.container-datalist {
    margin: 2rem auto;
    width: 90%;
    line-height: 1.2rem;
}

.emphasis-datalist-2 {
    background-color: lightgoldenrodyellow;
}

.emphasis-datalist-3 {
    background-color: lightblue;
}


div.container-webfonts {
    margin: 1rem auto;
    width: 80%;
    counter-reset: table-counter;
    counter-reset: item-counter;
}

.mock ol {
    list-style-type: lower-roman;
}

.mock li::before {
    content: ')   '
}

.table-template-four {
    table-layout: fixed;
    margin: auto;
    empty-cells: hide;
    margin-top: 1rem;
    border-collapse: collapse;
    caption-side: bottom;
    counter-increment: table-counter;
}

.table-template-four td {
    border: 1px solid lightblue;
    padding: 0.2em 1em 0.2em 1em;
}

.table-template-four caption {
    font-size: 1rem;
    background-color: lightcyan;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    counter-reset: item-counter;
}

.table-template-four tr>td:first-of-type {
    counter-increment: item-counter;
}

.table-template-four tbody td:first-of-type::before {
    content: counter(item-counter);
}

.table-template-four caption span:before {
    content: '('counter(table-counter) ')';
}


.table-template-four tr:hover {
    background-color: #f5f5f5;
}

.table-template-four tfoot {
    margin-top: 4rem;
    text-align: center;
}

.table-template-four tfoot {
    border: 10px solid white;
}

.table-template-four tfoot tr {
    background-color: antiquewhite;
}

.table-template-four td[rowspan="9"] {
    vertical-align: top;
}

.monaco-emphasis {
    background-color: orange;
}

.emphasize-me {
    background-color: lightgoldenrodyellow;
}

div.container-elements {
    margin: 1rem auto;
    width: 80%;
    counter-reset: table-counter;
    counter-reset: item-counter;
}

.table-template-five {
    table-layout: fixed;
    margin: auto;
    empty-cells: hide;
    margin-top: 1rem;
    border-collapse: collapse;
    caption-side: bottom;
}

.table-template-five td {
    border: 1px solid lightblue;
    padding: 0.2em 1em 0.2em 1em;
}

.table-template-five caption {
    font-size: 1rem;
    background-color: lightcyan;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    counter-increment: table-counter;
}

.table-template-five caption span:before {
    content: '('counter(table-counter) ')';
}


.table-template-five tr:hover {
    background-color: #f5f5f5;
}

.table-template-five tfoot {
    margin-top: 4rem;
}

.table-template-five tfoot {
    border: 10px solid white;
}

.table-template-five tfoot tr {
    background-color: antiquewhite;
}

.table-template-five tbody tr {
    counter-increment: item-counter;
}

.table-template-five tbody td:first-of-type::before {
    content: counter(item-counter);
}

.table-template-five td[rowspan="9"] {
    vertical-align: top;
}

div.container-void-elements {
    margin: 1rem auto;
    width: 80%;
    counter-reset: table-counter;
}

.table-template-six {
    table-layout: fixed;
    /* margin: auto; */
    empty-cells: hide;
    margin-top: 1rem;
    border-collapse: collapse;
    caption-side: bottom;
}

.table-template-six td {
    border: 1px solid lightblue;
    padding: 0.2em 1em 0.2em 1em;
}

.table-template-six caption {
    font-size: 1rem;
    background-color: lightcyan;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    counter-increment: table-counter;
}

.table-template-six caption span:before {
    content: '('counter(table-counter) ')';
}


.table-template-six tr:hover {
    background-color: #f5f5f5;
}

.table-template-six tfoot {
    margin-top: 4rem;
}

.table-template-six tfoot {
    border: 10px solid white;
}

.table-template-six tfoot tr {
    background-color: antiquewhite;
}

.table-template-six td[rowspan="9"] {
    vertical-align: top;
}

div.container-unordered-list {
    width: 90%;
    margin: 1rem auto 1rem auto;
    padding-left: 3rem;
    border-width: 10px;
    border-style: none none none solid;
    border-color: lightblue;
}

div.container-unordered-list ul {
    list-style-type: none;
}

div.container-unordered-list ul li:first-of-type {
    list-style-type: disc;
}

div.container-unordered-list ul li:nth-of-type(2) {
    list-style-type: circle;
    list-style-position: inside;
}

div.container-unordered-list ul li:nth-of-type(3) {
    list-style-type: square;
}

div.container-unordered-list ul li:nth-of-type(4) {
    list-style-type: circle;
}

div.container-unordered-list ul li:nth-of-type(5) {
    list-style-image: url(../image/go.png);
}

div.container-unordered-list ul li::marker {
    color: blue;
}

.table-template-six {
    table-layout: fixed;
    /* margin: auto; */
    empty-cells: hide;
    margin-top: 1rem;
    border-collapse: collapse;
    caption-side: bottom;
}

.table-template-six td {
    border: 1px solid lightblue;
    padding: 0.2em 1em 0.2em 1em;
}

.table-template-six caption {
    font-size: 1rem;
    background-color: lightcyan;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    counter-increment: table-counter;
}

.table-template-six caption span:before {
    content: '('counter(table-counter) ')';
}


.table-template-six tr:hover {
    background-color: #f5f5f5;
}

.table-template-six tfoot {
    margin-top: 4rem;
}

.table-template-six tfoot {
    border: 10px solid white;
}

.table-template-six tfoot tr {
    background-color: antiquewhite;
}

.table-template-six td[rowspan="9"] {
    vertical-align: top;
}

div.container-ordered-list {
    /* margin: 1rem auto; */
    /* width: 90%; */
    counter-reset: table-counter;
}

.table-template-seven {
    table-layout: fixed;
    margin: auto;
    empty-cells: hide;
    margin-top: 1rem;
    border-collapse: collapse;
    caption-side: bottom;
    
}

.table-template-seven th {
    padding: 1px 2rem 5px 2rem;
    font-size: 1rem;
    background-color: white;
}

.table-template-seven td {
    border: 1px solid lightblue;
    padding: 0.2rem 0 0.2em 2rem;
    padding-left: 2rem;
}

.table-template-seven caption {
    font-size: 1rem;
    background-color: lightcyan;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    counter-increment: table-counter;
}

.table-template-seven caption span:before {
    content: '('counter(table-counter) ')';
}


.table-template-seven tr:hover {
    background-color: #f5f5f5;
}

.table-template-seven tfoot {
    margin-top: 4rem;
}

.table-template-seven col:nth-of-type(odd) {
    background-color: lightgoldenrodyellow;
}

.table-template-seven tfoot {
    border: 10px solid white;
}

.table-template-seven tfoot tr {
    background-color: antiquewhite;
}

.table-template-seven td[rowspan="9"] {
    vertical-align: top;
}

.table-template-seven col:nth-of-type(odd) {
    background-color: lightgoldenrodyellow;
}

.my-decimal-zero {
    list-style-type: decimal-leading-zero;
}

.my-decimal-zero li::marker {
    color: red;
}

.my-upper-roman {
    list-style-type: upper-roman;
}

.my-upper-roman li::marker {
    color: blue;
}

.my-lower-roman {
    list-style-type: lower-roman;
}

.my-lower-roman li::marker {
    color: #00FF00;
}

.my-upper-alpha {
    list-style-type: upper-alpha;
}

.my-lower-alpha {
    list-style-type: lower-alpha;
}

.my-upper-alpha li::marker {
    color: aquamarine;
}

.my-lower-greek {
    list-style-type: lower-greek;
}

.my-georgian {
    list-style-type: georgian;
}

.my-armenian {
    list-style-type: armenian;
}

#ol-value-start-expt
{
    padding: 2rem 0 0 2rem;
}

@font-face {
    font-family: 'apl';
    src: url('/font/APL386.ttf') format("truetype");
}

@media screen and (min-width:600px) {

    main,
    nav,
    div.syntax,
    div.examples,
    div.notes,
    footer {
        grid-column: 2 / span 8;
    }

    form {
        max-width: 65vw;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (min-width:700px) {

    form {
        max-width: 55vw;
        margin-left: auto;
        margin-right: auto;
        /* background:red; */
        /* font-size: 0.9rem; */
    }
}